body {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 90px;
  margin: 50px auto 0  auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  /* line-height: 4; */
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-color: #eaf6f6;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
}

.top-container {
  background-color: #eaf6f6;
  padding-top: 100px;
  position: relative;
  /* height: 200px;
  width: 200px;
  border: solid 10px;
  border-color: black;
  padding: 20px; */
}

.subtitle {
  width: 40%;
  margin: 0 auto 0 auto;
}

.top-cloud {
  position: absolute;
  padding: 20px;
  right: 300px;
  top: 50px
}

.bottom-cloud {
  position: absolute;
  padding: 20px;
  left: 300px;
  bottom: 300px;
}

.bottom-mountain {
  /* margin: 0 auto 0 auto; */
  /* position: relative; */
  align-content: center;
}


.pro {
  text-transform: uppercase;
}

.profile_desc {
  color: #40514e;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.code-img {
  width: 25%;
  margin-right: 30px;
  float: left;
}

.chilli-img {
  width: 25%;
  margin-left: 30px;
  float: right;
}

.btn {
  border-radius: 8;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
}

.btn:hover {
  border-radius: 8;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
}

.footer-link {
  color: #11999E;
}

.copyright {
  color: #eaf6f6;
}

.bottom-container {
  background-color: #66BFBF;
}
